.active {
    padding: 0.8rem 1rem;
    border: 1px solid #FD007D;
    background-color: #FD007D;
    color: #fff;
}
.controlBase {
    padding: 0.8rem 1rem;
    border: 1px solid lightgray;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
.controlBase:hover {
    background-color: #FD007D;
    color: #fff;
    border: 1px solid #FD007D;
}
.controlsWrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.controlsContainer {
    margin: 0 auto;
    display: flex;
    gap: 1rem
}